@(profile : org.pac4j.core.profile.CommonProfile)
<h1>Home</h1>
<a href="form/index.html">Protected url by form authentication : form/index.html</a> (use login = pwd)<br />
<a href="saml/index.html">Protected url by SAML : saml/index.html</a> (use a real account)<br />
<br />
<br />
<a href="/logout?url=/">logout</a>
<br /><br />
profile : @profile | <a>Not available</a>
<br /><br />
<br />
<br />

    <!-- Link to Google CDN's jQuery; fall back to local -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="assets/js/jquery.min.js"><\/script>')</script>

<script src="assets/js/app.js"></script>
